@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #fff9c4;
  background-image: url("../public/Images/avatarbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body.greenScreen {
  background-color: #fff9c4;
  background-image: url("../public/Images/avatarbg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
